<div class="col-sm-7">
  <h2>Zlil's To Do List:</h2>
  <div class="row">
    <div class="input-group">
      {{input id="addNewToDo" value=newToDo class="form-control add-todo" placeholder="Add todo"}}
      <span class="input-group-btn">
      <button type="button" class="btn btn-default" {{action "createTodo"}}>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
        </button>
      </span>
    </div>
  </div>
  <div class="row">
    {{to-do-list todos=model}}
  </div>
</div>
